node_modules
npm-debug.log
data
.git
.gitignore
.env
*.md
api-test.ps1
openai_debug.log
prompt.bak
data_bak/
data_bak2/
data_*/
preview.png
.env.bak
data bak/
.env*
docker-compose-dev.yml
public/images/
delete_all.js
documents.json
apitest.js