.env
.env.bak
.dockerignore
data/
node_modules/
api-test.ps1
openai_debug.log
prompt.bak
data bak/
data_bak/
data_*/
.env*
docker-compose-dev.yml
public/images/
delete_all.js
documents.json
apitest.js